<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
</style>
<body>

<div class="w3-content" style="max-width:1500px">

  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="#" class="w3-left w3-button w3-white">User</a>
    <a href="about" class="w3-right w3-button w3-white">About Us</a>
  </header>

  <div class="w3-row">
    <div class="w3-half">
      <img src="https://i.pinimg.com/736x/92/32/6a/92326a45fe9684938547832735ba30bc.jpg" style="width:100%">
    </div>
    <div class="w3-half">
      <img src="https://i.pinimg.com/736x/48/96/63/489663e8ea9c0cad48a8001112612db3--silvia-pelissero-rome-italy.jpg" style="width:100%">
    </div>
  </div>
</div>

</body>
</html>
